*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
    overflow-x: hidden;
    
}

body, html {
	height: 100vh;
	font-family: 'DM sans';
    background-color: rgb(0, 0, 0);
    color: white;
}

.inicio h1{
    overflow: hidden;
    font-size: 5rem;
}

.sobre-mi h1{
    overflow: hidden;
}
.proyectos h1{
    overflow: hidden;
}

.container{
    padding-top: 10rem;
    padding-bottom: 15px;
}

.img-inicio{
    border-radius: 50%;
}

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.card{
    width: 350px;
    margin: auto;
    padding: auto;
    cursor: pointer;

}
.card-title a{
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .nav-link{
    color: white !important; /* Cambia el color del texto */
  }
  
.navbar .nav-link:hover {
    color: #ffffff !important; /* Cambia el color al pasar el mouse */
    background-color: #2600ff;
    transform-style: preserve-3d;
}

.navbar .navbar-brand{
    color: white !important;
}
.navbar .nav-brand:hover {
    color: #2600ff !important; /* Cambia el color al pasar el mouse */
}

.navbar .nav-item{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    font-size: 20px;
}

.navbar-nav{
    margin: auto;

}


.carousel{
    width: 50%;
    height: auto;
    margin: auto;
}

.footer{
    text-align: center;
}

.sobre-mi .descripcion{
    font-size: large;
}


/* Barra lateral */
.contact-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: transparent; /* Sin fondo */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 1000;
    overflow: hidden;
  }
  
  /* Íconos dentro de la barra */
  .contact-icons img {
    width: 40px; /* Tamaño pequeño */
    height: 40px;
    object-fit: contain;
    border-radius: 50%; /* Opcional: para bordes redondos */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
    overflow: hidden;
  }
  
  /* Enlace de íconos */
  .icon-link {
    text-decoration: none;
    display: block;
    overflow: hidden;
  }
  
  /* Efecto hover */
  .contact-icons img:hover {
    transform: scale(1.2); /* Aumenta un poco al pasar el mouse */
    filter: brightness(1.2); /* Efecto de brillo */
    overflow: hidden;
  }
  